@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
}

:root {
  --default: #0d1333;
  --gray: #f0f3fa;
  --red: #ff7368;
  --blue: #4c94fe;
  --green: #6ecf63;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default);
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.company {
  width: 200px;
}

.company img {
  max-width: 100%;
}

.leftContent {
  width: calc(100% - 420px);
  position: relative;
  background-color: rgb(245, 245, 245);
  height: 100%;
  display: inline-block;
}

.blue {
  background-color: var(--blue);
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

.sideBarContainer {
  width: 420px;
  display: block;
  position: absolute;
  right: 0;
  height: 100vh;
  overflow: auto;
  display: inline-block;
}

.section {
  background-image: linear-gradient(white 80%, #f9fafe);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1em 15px;
}

.AccountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  background-image: linear-gradient(#ffe393, #ffecb0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  max-width: 100%;
}

.account {
  display: flex;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  line-height: normal;
}

.username {
  font-size: 1.2em;
  font-weight: 400;
}

.accType {
  font-size: 0.8em;
}

.notificationContainer {
  position: relative;
}

.settingsbtn {
  display: flex;
}

.notification,
.settings {
  border: 1px solid var(--gray);
  border-radius: 16px;
  padding: 6px 8px;
  margin: 0 0 0 0.8em;
}

.indicator {
  position: absolute;
  top: -8px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
}

/* health Container */

.healthContainer {
  margin-top: 3em;
}

.health,
.heading,
.trainersHeading {
  font-size: 1.2em;
}

.section3Container {
  width: 100%;
  display: flex;
}

.section3Container .section3:first-of-type {
  padding: 15px 15px 15px 0;
}

.section3Container .section3:last-of-type {
  padding: 15px 0 15px 15px;
}

.section3 {
  width: 33.33%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.vd {
  border-left: 2px solid var(--gray);
}

.data {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.slider {
  height: 6px;
  border-radius: 6px;
  width: 100%;
  background-color: var(--gray);
  position: relative;
  overflow: hidden;
}

.slider::after {
  content: "";
  border-radius: 6px;
  height: 100%;
  width: 100%;
  display: block;
}
.holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1em 0;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: block;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: center;
}

.icon img {
  max-width: 100%;
}

.attr {
  margin: 0 1em;
}

.slider-red::after {
  background-color: var(--red);
}

.slider-blue::after {
  background-color: var(--blue);
  width: 80%;
}

.slider-green::after {
  background-color: var(--green);
  width: 40%;
}

/* bubble section */

.bubble {
  background-color: #fefbf1;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 2em 0;
  position: relative;
  z-index: 3;
}

.leftBubble,
.rightBubble {
  width: 50%;
}

.leftBubble img {
  max-width: 100%;
}

.bubblebtn {
  display: flex;
  justify-content: center;
  padding-right: 1em;
}

.bubblebtn .button {
  padding: 0.6em 1em;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  background-color: #fac952;
  border: 2px solid #fdcb58;
  border-radius: 14px;
}

.rightBubbleText {
  padding-right: 1em;
  color: #686979;
}

.bubbleBoxBehind {
  width: 92%;
  height: 100%;
  position: absolute;
  /* display: flex; */
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  margin-bottom: 12px;
  z-index: 2;
  border-radius: 20px;
}

.bubblelightbg {
  background-color: #ffedc4;
}

/* training section */

.tblue {
  background-color: #4d95fe;
}
.tbluelight {
  background-color: #c0d8fe;
}

.tred {
  background-color: #ff7368;
}

.tredlight {
  background-color: #fcbfc1;
}

.trainingBoxContainer,
.bubbleMain {
  position: relative;
}

.trainingBox {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
  border: 2px solid white;
  margin: 15px 0 15px 0;
  z-index: 3;
}

.trainingBoxBehind {
  width: 92%;
  height: 100%;
  position: absolute;
  /* display: flex; */
  left: 50%;
  transform: translate(-50%, -50%);
  top: 58%;
  margin-bottom: 12px;
  z-index: 2;
  border-radius: 20px;
}

/* .trainingBox::before {
} */

.title {
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

.subTitle {
  font-weight: 500;
  color: white;
  padding: 4px 0;
}

.timeContainer {
  display: flex;
  height: 50%;
}

.time {
  font-weight: 300;
  color: black;
  background-color: white;
  border: 2px solid var(--gray);
  padding: 6px 10px;
  border-radius: 9px;
  margin-top: auto;
}

.exDetails {
  text-align: center;
}

.duration {
  color: white;
  font-size: 2.2em;
  font-weight: 300;
}

.spec {
  font-weight: 500;
  color: var(--gray);
}

.excercise {
  font-weight: 300;
  font-weight: 1.2em;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu img {
  width: 30px;
}

.dotsContainer {
  display: flex;

  padding-bottom: 2px;
  justify-content: center;
}

.dotsContainer .dots {
  transform: rotate(90deg);
  filter: invert(1);
  max-width: 100%;
  width: 30px;
  display: flex;
  justify-content: center;
}

/* trainers */

.trainers {
  padding: 15px;
}

.profile {
  position: relative;
}

.tgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0em;
}

.user {
  position: relative;
}

.statusIndicator {
  width: 15px;
  height: 15px;
  background-image: linear-gradient(#b1fe95 50%, #c1ffae);
  border-radius: 50%;
  bottom: 4px;
  right: 0px;
  position: absolute;
}

@media screen and (max-width: 416px) {
  .attr {
    margin: 0 0.5em;
  }
}

@media screen and (max-width: 576px) {
  .leftContent {
    display: none;
  }
  .sideBarContainer {
    width: 100%;
    display: block;
    position: relative;
    right: 0;
    height: 100vh;
    overflow: auto;
  }
}
