@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
}

:root {
  --default: #0d1333;
  --gray: #f0f3fa;
  --red: #ff7368;
  --blue: #4c94fe;
  --green: #6ecf63;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default);
}

.blue {
  background-color: var(--blue);
}

.red {
  background-color: var(--red);
}

.green {
  background-color: var(--green);
}

.sideBarContainer {
  width: 350px;
}

.section {
  background-color: #f9fafe;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.AccountContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  background: blue;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  max-width: 100%;
}

.account {
  display: flex;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
  line-height: normal;
}

.username {
  font-size: 1.2em;
  font-weight: 400;
}

.accType {
  font-size: 0.8em;
}

.notificationContainer {
  position: relative;
}

.settingsbtn {
  display: flex;
}

.notification,
.settings {
  border: 1px solid var(--gray);
  border-radius: 16px;
  padding: 6px 8px;
  margin: 0 0.8em;
}

.indicator {
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: var(--red);
}

/* health Container */

.healthContainer {
  margin-top: 3em;
}

.health {
  font-size: 1.2em;
}

.section3Container {
  width: 100%;
  display: flex;
}

.section3 {
  width: 33.33%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.vd {
  border-left: 2px solid var(--gray);
}

.data {
  font-size: 2.4em;
  font-weight: 400;
  text-align: center;
}

.slider {
  height: 6px;
  border-radius: 6px;
  width: 100%;
  background-color: var(--gray);
  position: relative;
  overflow: hidden;
}

.slider::after {
  content: "";
  border-radius: 6px;
  height: 100%;
  width: 100%;
  display: block;
}
.holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1em 0;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}

.attr {
  margin: 0 1em;
}

.slider-red::after {
  background-color: var(--red);
}

.slider-blue::after {
  background-color: var(--blue);
  width: 80%;
}

.slider-green::after {
  background-color: var(--green);
  width: 40%;
}

/* bubble section */

.bubble {
  background-color: #fefbf1;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 2em 0;
}

.leftBubble,
.rightBubble {
  width: 50%;
}

.leftBubble img {
  max-width: 100%;
}

.bubblebtn {
  display: flex;
  justify-content: center;
}

.bubblebtn .button {
  padding: 0.6em 1em;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  background-color: #fac952;
  border: 2px solid #fdcb58;
  border-radius: 14px;
}

.rightBubbleText {
  padding-right: 1em;
  color: #686979;
}

/* training section */

.tblue {
  background-color: #4d95fe;
}
.tblue::before {
  background-color: #c0d8fe;
}

.tred {
  background-color: #ff7368;
}

.tred::before {
  background-color: #fcbfc1;
}

.trainingBox {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
  border: 2px solid white;
  margin: 15px 0 30px 0;
}

.trainingBox::before {
  content: "";
  display: block;
  width: 96%;
  left: 8px;
  height: 100%;
  z-index: -1;
  bottom: -12px;
  border-radius: 20px;
  position: absolute;
}

.title {
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

.subTitle {
  font-weight: 500;
  color: white;
}

.timeContainer {
  display: flex;
  height: 50%;
}

.time {
  font-weight: 300;
  color: black;
  background-color: white;
  border: 2px solid var(--gray);
  padding: 6px 10px;
  border-radius: 9px;
  margin-top: auto;
}

.exDetails {
  text-align: center;
}

.duration {
  color: white;
  font-size: 2.2em;
  font-weight: 300;
}

.spec {
  font-weight: 500;
  color: var(--gray);
}

.excercise {
  font-weight: 300;
  font-weight: 1.2em;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu img {
  width: 30px;
}

/* trainers */

.tgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
